<% provide(:title, "Home") %>

<div class="center jumbotron text-center">
  <h1>Welcome to EventJack!</h1>
  <img src="/assets/party.jpg" />
</div>

<div>
  <p>Create events for you and your best friends with EventJack!
     If you have friends, <%= link_to "create an account", '#' %> and invite them to wild parties.
     Track attendance to keep track of who is really your friend, and who
     might not really like hanging out.
  </p>
</div>


