<% provide(:title, "Home") %>

<h1>Welcome to EventJack!</h1>

<p>----   This will be the form to sign up    ----</p>

<p>Create events for you and your best friends with EventJack!
   If you have friends, create an account and invite them to wild parties.
   Track attendance to keep track of who is really your friend, and who
   might not really like hanging out.</p>
